/* I know I don't really need to break the styles into separate files since I'm just making one page, but it's best practices. */

body {
    margin: 0px;
    background-color: #191a1d;
    font-family: 'Gothic A1', sans-serif;
    color: white;
}

button {
    border-radius: 4px;
    margin: 5px;
    cursor:pointer;
}

.content {
    width: 100%;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 5fr 4fr;
}

.content {
    /* gradient: #424650 to black */
    background: radial-gradient(ellipse at top left, rgba(66,70,80,1) 0%, rgba(0,0,0,1) 100%);
    /* The gradient in the screenshot looks like it's lightest point is not in the corner, but a bit right from it. 
    I don't know how to do that, unless I make two div's with matching gradients that are in the background. 
    I don't really want to do that right now. */
    width: 100%;
    height: 100%;
}

.content > .left-column {
    margin: 0px 50px;
}

.content > .left-column p {
    font-size: 2.5vw;
    font-weight: 200;
}

.content > .left-column > .paragraph2 {
    color: #b3b3b3;
}

/* sign up + learn more buttons */
.content > .left-column a {
    text-decoration: none;
}

.content > .left-column a button {
    font-size: 30px;
    padding: 20px;
    margin-bottom: 20px;
}

.content > .left-column .signupfree {
    background-color: #4bce79;
    border: 1px solid #4bce79;
    color: black;
}

.content > .left-column .learnmore {
    background-color: black;
    border: 1px solid black;
    color: white;
}

.content > .right-column p {
    font-size: 1.5vw;
    margin-left: 10px;
    margin-bottom: 6px;
}

.content > .right-column .blue-text {
    color: #78dafd;
}

.content > .right-column > .screenshot-wrapper {
    width: 100%;
    height: 100%;
}

.content > .right-column > .screenshot-wrapper img {
    width: 100%;
    height: auto;
    box-shadow: -7px 3px 12px -2px rgb(0 0 0 / 50%);
}

/* footer-like bar */
.codepen-purposes {
    width: 100%;
    height: 60px;
    background-color: #676767;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.codepen-purposes > .purpose {
    background-color: #36383f;
    width: 24.75%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.codepen-purposes > .purpose span:nth-child(1) {
    font-size: 1.25vw;
    margin-right: 5px;
}

.codepen-purposes > .purpose span:nth-child(2) {
    font-size: 1.75vw;
    font-weight: 900;
}
