body {
    margin: 0px;
    background-color: #191a1d;
    font-family: sans-serif;
    color: white;
}

button {
    background-color: #36383f;
    color: white;
    border-radius: 6px;
    padding: 20px;
    margin: 5px;
    border: 1px solid #36383f;
}
