.nav {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-links-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-links-wrapper > .logo-wrapper img {
    height: 40px;
    width: auto;
    padding: 25px;
}

.links-explore-wrapper {
    margin: 0px 25px;
    display:grid;
    grid-template-columns: 1;
}

.links-explore-wrapper > .explore {
    font-family: sans-serif;
    color: #ffff55;
    font-size: 1.25rem;
    margin-left: 5px;
}

.links-wrapper {
    display: flex;
    align-items: center;
}

.links-wrapper > .nav-link a {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 900;
    margin: 5px;
}

.links-wrapper > .spark-dropdown {
    color: #cacaca;
    font-size: 1.25rem;
    margin: 0px 30px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 5px;
}

.nav > .btn-wrapper {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav > .btn-wrapper > button {
    background-color: #36383f;
    color: white;
    border-radius: 6px;
    font-size: 1.5rem;
    padding: 20px;
    margin: 5px;
}

.nav > .btn-wrapper > .search {
    font-size: 2.5em;
    padding: 0px 20px;
    color: #7b7e8b;
}

.nav > .btn-wrapper > button i {
    /* color: lime; */
    /* color: #4aca78; */
    /* color: #46b06c; */
    color: #4bce79;
}